@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/600.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/600-italic.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/700.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/700-italic.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/roboto/v30/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/roboto/v30/400-italic.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/400-italic.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/noto-sans/v28/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/noto-sans/v28/400-italic.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/inter/v12/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/comfortaa/v40/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/bitter/v32/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/bitter/v32/400-italic.css');

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
}
